@charset "UTF-8";

body {
  font-family: Montserrat;
  background-color: #181818;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  min-height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hello-body {
  -webkit-box-shadow: 16px 14px 20px #0000008c;
          box-shadow: 16px 14px 20px #0000008c;
  color: #fff;
  position: relative;
  border: 3px solid #5E5372;
  top: 50px;
  right: 0;
  text-align: center;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: hello;
          animation-name: hello;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hello-body::before {
  content: '';
  background-image: conic-gradient(#ff0052 20deg, transparent 120deg);
  width: 150%;
  height: 150%;
  position: absolute;
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
}

.hello-body::after {
  content: 'Вітаю)). Ти змусив цей додаток працювати, ти молодець.';
  width: 787px;
  height: 200px;
  background: #101010;
  position: absolute;
  border-radius: 10px;
  color: #ff0052;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: larger;
  letter-spacing: 5px;
  -webkit-box-shadow: inset 20px 20px 20px #0000008c;
          box-shadow: inset 20px 20px 20px #0000008c;
  font-weight: 700;
}

@-webkit-keyframes hello {
  from {
    right: 120%;
  }

  to {
    right: 0;
  }
}

@keyframes hello {
  from {
    right: 120%;
  }

  to {
    right: 0;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.hello-body__padding {
  padding: 40px;
}

.hello-body__title {
  font-size: 20px;
  margin: 0px 0px 24px 0px;
  font-weight: 700;
}

.hello-body__text {
  margin: 0 auto;
  max-width: 35%;
}